body{
    text-align : center;
    height : 100%;
    margin : -.001em;
}

#wrapper {
    height : 100%;
    width : 100%;
}

#wrapper #header {
    height: 17%;    
}

#wrapper #content {
    margin-left : auto;
    margin-right : auto;
    width : 90%;
}

#wrapper #content #col_1 {
    float: left;
    width:73%;
}

#wrapper #content #col_2 { 
    width:25%;
    margin-left : 75%;
/*    margin-top : -12.5%; */
}

#wrapper #footer{
    width : 25%;
    margin-left : 75%;
}
