
@import url(https://fonts.googleapis.com/css?family=Rock+Salt|Libre+Barcode+128+Text|Ubuntu);

body{
	font-size : 12pt;
/*	background-color: #eee; */
	background-color: white; 
}

/*ul, ol {list-style:none;}*/

em {
	font-weight: bold;
}

#wrapper div#header {
/*
	padding : 1.5em;
	padding-left : 10%; 
	padding-right : 10%;
*/
	padding-left : 4%; 
	text-align : left;
/*	background: white; */

	background: #142833;
/*	border-bottom: 5px solid #2dbfe8; */
}

#wrapper div#header div.title {
	color: #eee;
	font-size : 5em;
	font-family: 'Libre Barcode 128 Text'; 
	padding-left: 2%; 
	display: inline;
}

#wrapper div#header div.pic img {
	margin-top: 5px;
	float: left;
	display: inline;
	width: 80px;
/*	border : 2px solid #2dbfe8; */
	border : 2px solid #eee; 
/*	padding: 5px; */

    border-radius: 100%;
/*	background-color: white; */
	background-color: #142833;
}


#wrapper div#content {
    padding-left : 2em;
    padding-top : 2em;
    padding-right: 2em;
}

#wrapper div#content div#col_1 {
	text-align : left;
}

#wrapper div#content div#col_1 div.section_header {
	border-bottom: 1px solid #ccc;
	font-family:'Ubuntu', Arial, Helvetica, sans-serif;
	font-size:1.2em;
}

#wrapper div#content div#col_1 div.note {
	border : 2px solid #eee; 
    border-radius: 20px;
	background: url(../img/notepad.png) no-repeat 10px 10px;
	background-color: #FFFFA5; 
	background-size: 56px;
	padding: 20px;
	padding-left : 100px;
	width: 70%;
	margin-left: 10%;
}

#wrapper div#content div#col_1 div.note ul {}

#wrapper div#content div#col_1 div.note li {
	padding-top: 5px;
	padding-bottom: 5px;
}


/*
	##
	## recent and older post excerpts on homepage
	##
*/
#wrapper div#content div#col_1 div.posts {
	margin-left : 5em;
	margin-bottom : 4em;
	padding-bottom : 2em;

}

#wrapper div#content div#col_1 ul.posts {list-style:none;}

#wrapper div#content div#col_1 li.post {
	margin-top : 1em;
	margin-bottom : 1em;
	padding-bottom : 1em;
	border-bottom: 1px solid #ccc;	
}

#wrapper div#content div#col_1 li.post:last-child {
	border-bottom: 0px;
}

#wrapper div#content div#col_1 li.post div.title a {
/*	font-family:'Rock Salt', Arial, Helvetica, sans-serif; */
	font-family:'Ubuntu', Arial, Helvetica, sans-serif;
	font-size:1.2em;
/*	color:#555; */
	color:black;
	font-weight:normal;
	line-height : 1.4em;
	padding-bottom : 10px;
	text-decoration: none;
}

#wrapper div#content div#col_1 li.post span.title a {
	font-family:'Ubuntu', Arial, Helvetica, sans-serif;
	font-size:1em;
	color:black;
	font-weight:normal;
	line-height : 1.2em;
	text-decoration: none;
}


#wrapper div#content div#col_1 li.post div.date {
	font-family:'Ubuntu', Arial, Helvetica, sans-serif;
	font-size:.75em;
	color:#555;
}

#wrapper div#content div#col_1 li.post span.date {
	font-family:'Ubuntu', Arial, Helvetica, sans-serif;
	font-size:.75em;
	color:#555;
}

#wrapper div#content div#col_1 li.post div.excerpt {
	font-family:'Ubuntu', Arial, Helvetica, sans-serif;
	font-size:1em;
	color:#555;
	line-height : 1.5em;
	margin-top : 1em;
}

#wrapper div#content div#col_1 li.post div.link a {
	font-size : 1.25em;
	margin-left : 70%;
	color : #ff722e;
}

/*
	##
	## full post
	##
*/

#wrapper div#content div#col_1 div#post {
	margin-left: 1em;
	margin-top : 2em;
	margin-bottom : 4em;
	padding-bottom : 2em;
}

#wrapper div#content div#col_1 div#post div.title {
/*	font-family:'Rock Salt', Arial, Helvetica, sans-serif; */
	font-family:'Ubuntu', Arial, Helvetica, sans-serif;
	font-size:1.65em;
/*	color:#555; */
	color:black;
	line-height : 1.55em;
	padding-bottom : 10px;
	font-weight: bold;
}

#wrapper div#content div#col_1 div#post div.title a {
	font-family:'Ubuntu', Arial, Helvetica, sans-serif;
	font-size:1.35em;
	color:black;
	font-weight:normal;
	line-height : 1.55em;
	text-decoration: none;
}


#wrapper div#content div#col_1 div#post div.date {
	font-family:'Ubuntu', Arial, Helvetica, sans-serif;
	font-size:.75em;
	color:#555;
}


#wrapper div#content div#col_1 div#post div#body {
	font-family:'Ubuntu', Arial, Helvetica, sans-serif;
	font-size:1em;
	line-height: 1.5em;
	margin-top : 1em;
	color: #555;
}

#wrapper div#content div#col_1 div#post div#body h1 {
	font-family:'Ubuntu', Arial, Helvetica, sans-serif;
	font-size:1.35em;
	font-weight:normal;
	color: black;
}
#wrapper div#content div#col_1 div#post div#body h2 {
	font-family:'Ubuntu', Arial, Helvetica, sans-serif;
	font-size:1.25em;	
}
#wrapper div#content div#col_1 div#post div#body h3 {
	font-family:'Ubuntu', Arial, Helvetica, sans-serif;
	font-size:1.15em;	
}
#wrapper div#content div#col_1 div#post div#body h4 {
	font-family:'Ubuntu', Arial, Helvetica, sans-serif;
	font-size:1.05em;	
}



#wrapper div#content div#col_2 {}

#wrapper div#content div#col_2 div.pic img {
/*	width: 220px; */
	width: 180px;
	border : 10px solid #2dbfe8; 
	padding: 5px;
    border-radius: 100%;
	background-color: white;
}

#wrapper div#content div#col_2 div.disclaimer {
	font-family:'Ubuntu', Arial, Helvetica, sans-serif;
	font-size:1em;
	line-height : 1.5em;
	color:#555;
	font-weight:normal;
	margin-top : 10px;
	margin-bottom: 10px;
	padding : 10px;
}

#wrapper div#content div#col_2 ul.contact {list-style:none;}
#wrapper div#content div#col_2 ul.contact li {padding: 7px;}

#wrapper div#content div#col_2 ul.contact li a{
	text-align : left;
	text-decoration : none;
	color : #fff;
	padding:5px 5px 5px 55px;
	font-family:'Rock Salt', Arial, Helvetica, sans-serif;
	font-size:1em;
	color:#868686;
	font-weight:normal;
	background-size: contain;
	display: block;
}

#wrapper div#content div#col_2 ul.contact li a.linkedin {
	background: url(../img/linkedin.png) no-repeat 0 0;
	background-size: contain;
}

#wrapper div#content div#col_2 ul.contact li a.twitter {
	background: url(../img/twitter.png) no-repeat 0 0;
	background-size: contain;
}

#wrapper div#content div#col_2 ul.contact li a.github {
	background: url(../img/github.png) no-repeat 0 0;
	background-size: contain;
}

#wrapper div#content div#col_2 ul.contact li a.home {
	background: url(../img/home.png) no-repeat 0 0;
	background-size: contain;
}