<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=MacRoman">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" type="text/css" href="/css/layout.css">
        <title>{{ page.title }}</title>
    </head>
    <body>
        <div id='wrapper'>

            <div id='header'>
                <div class='title'>Hi, I'm Matt.</div>
            </div>
            <!-- header close -->

            <div id='content'>
                <div id='col_1'>
                    <div id='body'>

                        {{ content }}

                    </div>
                    <!-- body close -->
                </div> 
                <!-- col_1 close -->

                <div id='col_2'>
                    <div class='pic'>
                        <img src='/img/matt.jpg'>
                    </div>
                    <div class='disclaimer'>
                        All content provided here is for informational purposes only.  Opinions stated here are mine and not those of my employer.  I am not a doctor.
                    </div>
                    <ul class="contact">
                        <li>
                            <a class='linkedin' href="https://www.linkedin.com/in/mypluribus">
                            in/MyPluribus
                            </a>
                        </li>
                        <li>
                            <a class='twitter' href="https://twitter.com/mypluribus">
                                @MyPluribus
                            </a>
                        </li>
                        <li>
                            <a class='github' href="https://github.com/mypluribus">
                                git/mypluribus
                            </a>
                        </li>
                        <li>
                            <a class='home' href="http://mypluribus.com/">
                                mypluribus.com
                            </a>
                        </li>
                    </ul>
                </div> 
                <!-- col_2 close -->
            <div id='footer'>
            </div>
            </div>
            <!-- content close -->

        </div>
        <!-- wrapper close -->
    </body>
</html>